body{

    padding-top: 100px;
    background-color: #fff700;
    font-size: 17px;
}

body form{

    border: black 1px;
    padding: 1em;
    margin: 2em auto;
    width: 30em;
    background: skyblue;
    border-radius: 3px;
}

.lihat{

  align: center;
}

a{

    text-decoration: none;
    color: black;
}

a:hover{

  background-color: skyblue;
  color: white;
  padding: 2px;
}

input[type=submit]{

    background-color: chartreuse;
    font-weight: bolder;
    color: black;
    border: none;
    border-radius: 3px;
    margin-right: 20px;
    padding: 5px;
}

input[type=reset]{

    background-color: red;
    font-weight: bolder;
    color: black;
    border: none;
    border-radius: 3px;
    margin-right: 0px;
    padding: 5px;
}
