body {
	background-image: url(ima.jpg);
}
 
body nav {
	width: auto;
	padding: 1em;
	background-color: black;
	height: 3em;
	border-radius: 10px;
}

body nav ul{

    float: left;
    animation-duration: 1s;
    position: relative;
}

body nav ul li a{
    
    text-decoration: none;
    color: white;
}

ul li{
    display: inline-block;
    position: relative;
    font-size: 30px;
    padding-right: 50px;

}

div {
	width: auto;
	height: 28em;
	background-color: white;
	border-radius: 10px;
	padding-bottom: 1em;


}

.jarak {
	height: 0.1px;
	opacity: 0%;
}

footer {
	width: auto;
	height: 1.3em;
	padding-top: em;
	background-color: black;
	border-radius: 10px;
	text-align: center;
	color: white;
}

footer p{
	color: white;
	padding-bottom: 1em;
}

.border {
	border: 1px solid #cecece;
	border-radius: 3em;
	padding: 3px 10px;
}

.logout {
	padding-left: 23em;
	font-size: 15pt;

}
.ins{

    width: 40px;

    
}

.mail{

    width: 36px;
}

.face{

    width: 30px;
}

.twit{

    width: 30px;
    padding-left: 5px;
}
.li1{

    display: inline-block;
    position: relative;
    margin-top: 40px;
    padding-right: 15px;


}

.sosmed{

    margin-top: 530px;
    margin-left: 400px;
    
}


.a1:hover{

    background-color: white;
}
.box{
	font-size: 13pt;
	border: 1px solid #cecece;
	border-radius: 3em;
	padding: 3px 10px;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
	color: white;
	background-color: #FE910F;
}

.visit {
	font-size: 10pt;
}