body{

    background-color: white;
    font-size: 17px;
}

a{

    text-decoration: none;
    color: black;
    padding-left: 20px;
}

a:hover{

  background-color: #fff700;
  color: white;
  padding: 5px;
}

h1{

  background: #fff700;
  padding: 10px;
}

table{

  background-color: lightpink;
  border-radius: 5px;
  padding: 10px;
}
