body {
	background-image: url(ima.jpg);
}
 
body nav {
	width: auto;
	padding: 1em;
	background-color: black;
	height: 3em;
	border-radius: 10px;
}
.center{
	padding-top: 3em;
	padding-bottom: 3em;
}

body nav ul{

    float: left;
    animation-duration: 1s;
    position: relative;
}

body nav ul li a{
    
    text-decoration: none;
    color: white;
}

ul li{
    display: inline-block;
    position: relative;
    font-size: 30px;
    padding-right: 50px;

}

div {
	width: auto;
	height: 23em;

	border-radius: 10px;
	padding-bottom: 1em;
}

.jarak {
	height: 0.1px;
	opacity: 0%;
}

footer {
	width: auto;
	height: 1.3em;
	padding-top: em;
	background-color: black;
	border-radius: 10px;
	text-align: center;
	color: white;
}

footer p{
	color: white;
	padding-bottom: 1em;
}

.border {
	border: 1px solid #cecece;
	border-radius: 3em;
	padding: 3px 10px;
}


form {
	padding-top: 7em;
}
.box{
	font-size: 13pt;
	border: 1px solid #cecece;
	border-radius: 3em;
	padding: 3px 10px;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
	color: white;
	background-color: #FE910F;
}

.logout {
	padding-left: 23em;
	font-size: 15pt;

}

.hasil {
	background-color: white;
	border-radius: 3em;
}



body{
	background-color: #00d4ff;
    font-size: 17px;
}

body form{

    border: black 3px;
    padding: 1em;
    margin: 2em auto;
    width: 20em;
    background: #e9ff00;
    border-radius: 3px;
}

input[type=text]{

    padding: 40px;
    text-align: center;
}

input[type=submit]{

    margin-top: 30px;
    background-color: chartreuse;
    font-weight: bolder;
    color: black;
    border: none;
    border-radius: 3px;
    margin-right: 20px;
    padding: 5px;
}

.box1{

  margin-right: 700px;
  margin-left: 200px;
  height: 0px;
}

.box2{

  margin-right: 350px;
  margin-left: 150px;
}

.box3{

  margin-left: 40%;
}

.box4{
	
  	margin-left: 65%;
  	margin-top: 0px;
 	 height: 240px;
 	 
}

.style1{

  background-color: white;
  padding-top: 40px;
  height: 40px;
  border-radius: 5px;
}

.style2{

  margin-top: 2px;
}

.style3{

  font-size: 15px;
}
 h1{
 	font-size: 20pt;
 }

 h2{
 	font-size: 20pt;
 }

 .form {
	width: auto;
	height: 22em;
	background-color: white;
	border-radius: 10px;
	padding-top: 4em;
}